<h1>Merchant Dashboard</h1>
<br>
<h2>User: <%= @user.name %></h2>
<% if @merchant.nil? == false %>
  <h2>Merchant:<%= @merchant.name %></h2>
  <p><%= @merchant.address %></p>
  <p><%= @merchant.city %> <%= @merchant.state %> <%= @merchant.zip %></p>

  <h3>All Pending Orders:</h3>
<% end %>
