<h1>Orders:</h1>
<%= @user.orders.each do |order| %>
<section class="orders-<%= order.id %>">
<h3>Order Details:</h3>
<%= order.created_at %>
<%= order.updated_at %>
<%= order.status %>
<%= order.total_items %>
<p>Total: <%= order.grandtotal %></p>
<%= link_to "View More Order Details", "/profile/orders/#{order.id}" %>
</section>
<% end %>
