<h1><%= @user.name %>'s Profile</h1>
  <p><%= @user.name %></p>
  <p><%= @user.address %></p>
  <p><%= @user.city %></p>
  <p><%= @user.state %></p>
  <p><%= @user.zip %></p>
  <p><%= @user.email %></p>

  <p><%= link_to "Edit Profile", "/profile/edit", method: :get %></p>
