<h1>View Information for Order #<%= @order.id %></h1>
<br>
<section class="order-info">
  <h4>Customer Information</h4>
  <p><%= @order.name %></p>
  <p><%= @order.address %></p>
  <p><%= @order.city %>, <%= @order.state %>, <%= @order.zip %></p>
</section>
<br>
<section class="order-items">
  <% @order.items.where(id: @merchant.items.pluck(:id)).each do |item| %>
    <br>
    <h4>Item Info</h4>
    <p><%= link_to "#{item.name}", "/items/#{item.id}" %></p>
    <p><%= image_tag(item.image) %></p>
    <% item_order = @order.item_orders.where(item_id: item.id).first %>
    <p><%= item_order.price %></p>
    <p><%= item_order.quantity %></p>
    <br>
  <% end %>
</section>
